html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.container {
  width: 1170px;
  margin: 0 auto;
}
.top-wrapper {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  text-align: center;
  padding: 180px 0 100px 0;
}
.top-wrapper h1 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  opacity: 0.7;
}
.top-wrapper p {
  color: #fff;
  opacity: 0.7;
}
.btn-wrapper p {
  margin: 15px 0px;
}
.btn {
  padding: 8px 24px;
  color: white;
  border-radius: 5px;
  display: inline-block;
}
.signup {
  margin-top: 30px;
  background-color: #239b76;
  opacity: 0.8;
}
.facebook {
  margin-right: 10px;
  background-color: #3b5998;
  opacity: 0.8;
}
.twitter {
  background-color: #55acee;
  opacity: 0.8;
}
.top-wrapper z {
  margin-bottom: 30px;
}
.btn:hover {
  opacity: 1;
}
.fa {
  margin-right: 5px;
}
header {
  background-color: rgba(34,49,52,0.9);
  z-index: 10;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-left img {
  width: 124px;
  margin: 20px 0;
  float: left;
}
.header-right a {
  display: block;
  line-height: 65px;
  float: right;
  padding: 0px 25px;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  color: #fff;
}
.header-right :hover {
  background-color: rgba(255,255,255,0.5);
}


.lesson-wrapper {
  
  height: 580px;
  background-color: #f7f7f7;
}
.heading h2 {
  font-weight: normal

} 

.heading {
  text-align: center;
  padding: 80px 0px 50px 0px;
  color: #5f5d60;
}
.lessons {
  
}
.lesson {
  width: 25%;
  display: inline;
  float: left;
  text-align: center;
}
.lesson-icon{
  position: relative;
}
.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: #fff;
}
.text-contents {

  color: #b3aeb5;
  display: inline-block;
  width: 80%;
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 13px;
}
.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  opacity: 0.8;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
}
.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
footer {
  border-top: solid 1px #eee;  
}
.footer-wrapper {
  margin: 30px 0;
}
.footer-wrapper img {
  width: 124px;
}
.footer-wrapper p {
  font-size: 12px;
  color: #b3aeb5;
}
